
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    
}

h1{ 
    text-align: center;
    font: 100px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:rgba(175, 47, 47, 0.15);  
   
}

#top
{
    display: block;
    padding: 16px 16px 16px 60px;
    border: none;
    background: #fff;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    
}
#big{
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    
}


#bottom{
    color: #777;
    padding: 10px 15px;
    height: 50px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    border: solid #e6e6e6 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}
#list-item{
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    border: solid #e6e6e6 2px;
    
    
    
}
img {
    width: 15px;
       
}

footer{
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

#delete{
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}
button{
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#items-left{
    float: left;
    text-align: left;
}
#clear{
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font: normal normal 300 normal 14px / 19.6px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }
  li a:hover {
    border: 1px solid rgba(175, 47, 47, 0.15);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
  }

#text-add {
    padding: 16px 16px 16px 60px;
    bottom: 0px;
    color: rgb(77, 77, 77);
    height: 30px;
    position: relative;
    text-align: center;
    right: 0px;
    text-decoration: none solid rgb(77, 77, 77);
    top: 0px;
    column-rule-color: rgb(77, 77, 77);
    perspective-origin: 275px 32.5px;
    transform-origin: 275px 32.5px;
    caret-color: rgb(77, 77, 77);
    background: rgba(0, 0, 0, 0.003) none repeat scroll 0% 0% / auto padding-box border-box;
    border: none;
    font: normal normal 300 normal 24px / 33.6px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    
    
}/*#INPUT to the TODO textbox*/

#check{
    
        text-align: center;
        border: none;
        opacity: 0;
        position: absolute;

}