
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    overflow-x: hidden !important;
    
}
.main
{
    background: #fff;
    margin: 140px 0 0px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

}/*includes everything, we can call it a wrapper*/

.main h1{ 
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    
}/*the todo header text of the page*/

header{
    display: block;
    height:65px;
    width:550px;
}/*this is the box that holds the arrow selector + textbox */

.big{
    position: relative;
    z-index: 2;
    display:flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#bottom{
    color: #777;
    padding: 10px 15px;
    height: 15px;
    text-align: center;
    background: #fff;
    display:flex;
    flex-direction:row;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}/*bottom div that holds: item counter, clear completed and the 3 li´s*/

.list-item{
    position: relative;
    font-size: 24px;
    border: solid #e6e6e6 0.6px;
    min-height: 60px;
    display:block;
    background: #fff;    
    display:flex;
    flex-wrap:wrap ;
    
}/*The whole box which is created for every value that we add in textbox*/

footer{
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}/*the text at the end of the page*/

button{
    border:none;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float:right;
}/*for all buttons in general*/

#items-left{
    float: left;
    text-align: left;
    color: #777777;
    flex:1;
}/*item counter label, in bottom div */

#links{
    justify-content: space-between;
    flex:2;
    position:relative;
    height:30px;
    bottom:20px;
    
} /*a div that holds the 3 li´s inside in bottom div*/

#clear{
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    flex:1;
    outline:none;
    border:none;
}/*Clear completed button*/

#clear:hover {
    text-decoration: underline;
  }

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    flex:2;    
    
    
}
li {
    float:left;
    position: relative;
    display:block;
    color: #777777;
    margin:-1px;
    text-align: center;
    padding:12px;
    text-decoration: none;
    font: normal normal 300 normal 14px / 19.6px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  li a {
    display: block;
    color: #777777;
    text-align: center;
    text-decoration: none;
  }
  li a:hover {
    border: 1px solid rgba(175, 47, 47, 0.15);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
  }
  /*the 3 li´s in bottom div*/

#check-all{
    float:left;
    border:none;
    outline:none;
    display: none;
}/*the button behind arrow selecting all picture*/

#check-all + label {
    width: 60px;
	height: 34px;
	font-size: 0;
	position: absolute;
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 20px 5px 5px -10px;
}

#check-all + label:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
    padding: 10px 10px 5px 20px;
    height: 20px;
    width: 20px;
    transform: rotate(90deg)
}

#check-all:checked + label:before {
	color: #737373;
}

::placeholder{
    font-style:italic;
    opacity:0.25;
}
#text-add {
    font-size: 25px;
    padding: 16px 16px 16px 16px;
    bottom: 0px;
    color: rgb(77, 77, 77);
    height: 30px;
    position: relative;
    text-align: left;
    right: 0px;
    width:550;
    text-decoration: none solid rgb(77, 77, 77);
    top: 0px;
    column-rule-color: rgb(77, 77, 77);
    perspective-origin: 275px 32.5px;
    transform-origin: 275px 32.5px;
    caret-color: rgb(77, 77, 77);
    background: rgba(0, 0, 0, 0.003) none repeat scroll 0% 0% / auto padding-box border-box;
    border: none;
    outline: rgb(77, 77, 77) none 0px;
    left: 40px;
 
}/*#INPUT to the TODO textbox*/

.invisiblebox{
    
        text-align: center;
        border: none;
        opacity: 0;
        position: absolute;
        display:none;
        height:40px;

}
.ring{
    
        width:40px;
        height:40px;
        opacity:0.5;
        position: relative;
        margin:3px;
           
}/*the ring picture to click on to mark/done */


.delete{
    width:15px;
    height:15px;
    opacity:0.5;
    border:none;
    outline:none;
}/*the X pic that we click on to delete item*/

.editbox{
    font-size:24px;
    border:none;
    outline:none;
    width:490px;
    height:58px;
    color: rgb(77, 77, 77);
    box-shadow: inset 0 0 4px #000000;
    display: flex;
    position: relative;
    left:40px;
    padding-left: 20px;
   
 }/*when we double click to edit something existing*/


.list-item .circle-check {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
}
.list-item .circle-check:checked {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}
.item-label {
    display: block;
    padding: 20px 20px 20px 60px;
    word-break:break-all;
    display:flex;
    
 }
 

/*the button that gets clicked when we click on the X picture*/

.delete-item {
    display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	margin-bottom: 11px;
    display: block;
    color: white;
    border:none;
    outline:none;
}

.list-item:hover .delete-item {
    display: block;
    color: #cc9a9a;
}

.list-item:hover .delete-item:hover {
    color: #af5b5e;
}

.delete-item:after {
	content: '×';
}

#list-item{
    display:flex;
    flex-wrap: wrap;
}
@media screen and (max-width:550px) {
    body {
        overflow-x: hidden !important;
    }
  }