
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    
}
.main
{
    background: #fff;
    margin: 140px 0 0px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

}

.main h1{ 
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    
}

header{
    
    display: block;
    height:65px;
    width:550px;
}
#big{
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

}

#bottom{
    color: #777;
    padding: 10px 15px;
    height: 15px;
    text-align: center;
    
    background: #fff;
    display:flex;
    flex-direction:row;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
#list-item{
    position: relative;
    font-size: 24px;
    border: solid #e6e6e6 0.6px;
    height:58.67px;
    display:block;
    background: #fff;     
}

footer{
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

button{
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float:right;
}
#items-left{
    float: left;
    text-align: left;
    color: #777777;
    flex:1;
}
#all{
    justify-content: space-between;
    flex:2;
    position:relative;
    height:70px;
}
#clear{
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    flex:1;
}
#clear:hover {
    text-decoration: underline;
  }

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    flex:2;    
    
}
li {
    float:left;
    position: relative;
   display:block;
    color: #777777;
    text-align: center;
    padding:12px;
    text-decoration: none;
    font: normal normal 300 normal 14px / 19.6px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  li a {
    display: block;
    color: #777777;
    text-align: center;
    text-decoration: none;
  }
  li a:hover {
    border: 1px solid rgba(175, 47, 47, 0.15);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
  }


#check-all-img{

    font-size: 22px;
    padding: 10px 27px 10px 27px;
    width: 40px;
  height:40px;
  opacity:0.5;
}
#text-add {
    
    font-style:italic;
    font-size: 25px;
    opacity:0.25;
    padding: 16px 16px 16px 60px;
    bottom: 0px;
    color: rgb(77, 77, 77);
    height: 30px;
    position: relative;
    text-align: center;
    right: 0px;
    text-decoration: none solid rgb(77, 77, 77);
    top: 0px;
    column-rule-color: rgb(77, 77, 77);
    perspective-origin: 275px 32.5px;
    transform-origin: 275px 32.5px;
    caret-color: rgb(77, 77, 77);
    background: rgba(0, 0, 0, 0.003) none repeat scroll 0% 0% / auto padding-box border-box;
    border: none;
    
    outline: rgb(77, 77, 77) none 0px;
 
}/*#INPUT to the TODO textbox*/

.invisiblebox{
    
        text-align: center;
        border: none;
        opacity: 0;
        position: absolute;
        display:none;
        height:40px;

}
.ring{
    
        width:40px;
        height:40px;
        opacity:0.5;
        position: relative;
           
}

.ester{
  display:none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}
.delete{
    width:15px;
    height:15px;
}
#list-item:hover .ester{
    display:block;
}
.editbox{
    font-size:24px;
    border:none;
    outline:none;
}
